/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
/*header*/
header{
    position: sticky;
    width: auto;
    
}
.bar1{
    display: flex;
    align-items: center;
    height: 30px;
    background: #D1891C;
    

}
.bar1 p{
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #333333;
}

.bar2{
    display: flex;
    align-items: center;
    height: 60px;
    background: #00669F;
    
    
}
.bar2 h1{
    font-size: 2.5rem;
    margin-left: 2rem;
    font-weight: 400;
    color:  #FFFFFF;
}
main{
   display: flex;
   justify-content: center;
   align-items:center ;
}
.card{
    display: flex;
    justify-content: space-between ;
    flex-direction: column;
    align-items: center;
    border-radius: 15px ;
    background-color:#F3F3F3;
    width:300px ;
    margin-top: 2.5rem;
    margin-left: 2.5rem ;
    
}
.batman{
    position: absolute;
    border-radius: 50%;
    margin-left: -60px;
    margin-top: -70px;
    
}
.titulo{
    margin-top: 2rem;
    padding: 2rem;
}

a{
    color: #F3F3F3;
    text-decoration: none;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 48px;
    width: 128px;
    background-color: #00669F;
    margin: 2rem;
}






