/*fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}
/*header*/
.contenedor{
    margin: 100px;
}

.topBar{
    position: sticky;
    background-color: rgba(28, 209, 176, 1);
    width: 1200px;
    height: 38px;
    color: rgba(0,0,0,1);
}
.textTop{
    position: absolute;
    width: 111px;
    height: 18px;
    left: 10px;
    top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
}
.textH1{
    position: absolute;
    width: 128px;
    height: 47px;
    left: 28px;
    top: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
}
.header{
    width:1200px;
    height:101px;
    top:38px;
    background-color: rgba(0, 102, 159, 1);
}
/*main*/

.card{
    width: 300px;
    height: 336px;
    position: relative;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5%;
    display: inline-block;
}
.background{
    background-image: url("../images/BackgroundBatman.svg");
    background-size: cover;
    height: 193px;
    width: 300px;
}

.batman{
    position: absolute;
    border-radius: 50%;
    left: 90px;
    top: -60px;
}

.title{
    position: absolute;
    top: 74px;
    left: 89px;
    right: 89px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    
}
.description{
    position: absolute;
    top:119px;
    bottom:104px;
    left:16px;
    right: 16px;
    
}
.boton{
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    top:269px;
    left: 85px;
    background: #00669F;

    
}
.foot{
    height: 51px;
    width: 1200px;
    left: 0px;
    top: 972px;
    background-color: rgba(0, 102, 159, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.pFoot{
    position: relative;
    top: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFF9F9;
}

