.contenedor{
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    
}
h3{
    background-color: #C4C4C4;
    color: #005677;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: 20px;
}
span{
    font-weight: bolder;
}
dt{
    font-weight: bolder;
}