main{
    grid-area: main;
    .stories{
        display: flex;
        justify-content: center;
        align-items:  center ;
        height: 100px;
        background-color:#FFFFFF;
        border: 1px solid;
        border-color: rgba(0, 0, 0, 0.25);
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 10px;
        }
    }
}