/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*HEADER*/
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,0);
    color: #ffff;
    
}
.header p {
    margin-left: 90px;
}
.selector{
    margin: 10px;
}

.navBar{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240, 168, 62, 1) ; 
    color:  rgba(60, 35, 19, 1);
    font-family: 'Roboto', sans-serif;
    
}

.navBarTitulo{
    display: flex;
    align-items: center;
    margin-left: 58px;
}

.navBar span{
    color:  rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
}
.navBar ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    

}
.navBar a ,i{
    margin: 5px;
    list-style: none; 
    color: rgba(255, 255, 255, 1);

}
li{
    margin: 5px;
    list-style: none;
}
/*MAIN*/
.banner{
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    justify-content: center;
    background-color: 83CCDF;
    background-image: url("../images/banner.svg");
    height: 400px;
    width: 100%;
    padding: 12px;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner button{
    margin-right: 117px;
}
.banner p{
    padding-right: 95px;

}
.textH2 {
    font-weight: 400;
    font-size: 30px;
    padding: 5px;
    background-color: #ffff;
    margin: 12px;
}
    
    

.pYb{
    font-weight: 400;
    font-size: 16px;
    padding-top: 12px;
    
}
button {
    background-color:  #F0A83E;
    margin: 15px 23px;
    padding: 15px 23px;
    color: #ffff;
}
.section2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}

.lista2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #F0A83E;
    margin-top: 20px ;
}
.garra{
    width: 67px;
    height: 71px;
}
.conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background-color: rgba(251, 250, 246, 1);
    border: 1px solid;
    border-radius: 2px;
    margin: 20px;
    text-align: center;
}
/*---FOOTER---*/
.contact{
    background-color: rgba(60, 35, 19, 1);
    color:rgba(255, 255, 255, 1);
    ;
}
.finalText{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 23px;
    font-weight: bold;
}
.finalText span{
    
    color: rgba(240, 168, 62, 1);
}
.rights{
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid;
    text-align: center;
}

