/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*header*/
body{
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0,0,0);
    color: #ffff;
    
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(240, 168, 62, 1) ; 
    color:  rgba(60, 35, 19, 1);
    font-family: 'Roboto', sans-serif;
}

.navBar span{
    color:  rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
}
.navBar ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
}
li, i{
    margin: 5px;
    list-style: none; 
}
/*main*/
.banner{
    display: flex;
    align-items:flex-end;
    flex-direction: column;
    justify-content: center;
    background-color: 83CCDF;
    background-image: url("../images/banner.svg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.textH2 {
    font-weight: 400;
    font-size: 30px;
    background-color: #ffff;
}
    
    

.pYb{
    font-weight: 400;
    font-size: 16px;
    
}
button {
    background-color:  #F0A83E;
    margin: 15px 23px;
    padding: 15px 23px;
    color: #ffff;
}
.section2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.lista2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.garra{
    width: 67px;
    height: 71px;
}
.contact{
    background-color: rgba(60, 35, 19, 1);
    color:rgba(255, 255, 255, 1);
    ;
}
.finalText{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 23px;
    font-weight: bold;
}
.finalText span{
    
    color: rgba(240, 168, 62, 1);
}
.rights{
    background-color: rgba(34, 34, 34, 1);
    color: rgba(255, 255, 255, 1);
    border: 1px solid;
    text-align: center;
}

